* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 50%, rgba(9,9,121,1) 100%);
    font-family: 'Open Sans', sans-serif;
}

.header {
    height: 15vh;
    width: 100%;
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.2);
}

.main{
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-form {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    height: 80%;
    width: 40rem;
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.2);
    color: whitesmoke;
}

.main-form > h2 {
    animation-name: appear;
    animation-duration: 2s;
}

.main-form__input > input {
    width: 100%;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    padding: 0 5%;
}

.main-form__input > button {
    color: white;
    background-color: rgba(3, 96, 218, 0.849);
    border: none;
    border-radius: 5px;
    padding: 0 2rem;
}

.footer {
    height: 15vh;
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.2);
    padding: 1rem;
}

.footer-div {
    padding: 1rem;
}

.footer-div > h4 {
    display: flex;
    justify-content: center;
}

.footer-div > h4 > a {
    padding: 0.3rem;
    color: white;
    text-decoration: none;
    border: 0.1rem rgb(180, 174, 174) solid;
    border-radius: 1rem;
}

.footer-div > h4 > a:hover {
    color: gray;
    background-color: rgba(128, 128, 128, 0.281);
}
@keyframes appear {
    from {color: rgb(0, 113, 206);}
    to {color: white;}
}

@media screen and (max-width:766px) {
    .main-form {
        width: 35rem;
    }
}

@media screen and (max-width:512px) {
    .main-form {
        width: 25rem;
    }
}